OPENCTI_ADMIN_EMAIL={{ opencti_admin_email }}
OPENCTI_ADMIN_PASSWORD={{ opencti_admin_password }}
OPENCTI_ADMIN_TOKEN={{ lookup('pipe', 'uuidgen') }}
OPENCTI_BASE_URL=https://{{ opencti_dns_name }}
OPENCTI_HEALTHCHECK_ACCESS_KEY={{ lookup('pipe', 'uuidgen') }}
MINIO_ROOT_USER={{ lookup('pipe', 'uuidgen') }}
MINIO_ROOT_PASSWORD={{ lookup('pipe', 'uuidgen') }}
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
ELASTIC_MEMORY_SIZE=4G
CONNECTOR_HISTORY_ID={{ lookup('pipe', 'uuidgen') }}
CONNECTOR_EXPORT_FILE_STIX_ID={{ lookup('pipe', 'uuidgen') }}
CONNECTOR_EXPORT_FILE_CSV_ID={{ lookup('pipe', 'uuidgen') }}
CONNECTOR_IMPORT_FILE_STIX_ID={{ lookup('pipe', 'uuidgen') }}
CONNECTOR_EXPORT_FILE_TXT_ID={{ lookup('pipe', 'uuidgen') }}
CONNECTOR_IMPORT_DOCUMENT_ID={{ lookup('pipe', 'uuidgen') }}
CONNECTOR_ANALYSIS_ID={{ lookup('pipe', 'uuidgen') }}
SMTP_HOSTNAME=localhost
ALIENVAULT_INGEST_START_DATE={{ alienvault_ingest_start_date }}
ALIENVAULT_API_KEY={{ alienvault_api_key }}
DOMAIN_NAME={{ opencti_dns_name }}
NIST_API_KEY={{ nist_api_key }}